.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.25;
  max-width: 75ch;
  margin: 0 auto 1rem;
}

.error {
  color: red;
  font-size: 1.75rem;
  text-align: center;
}

.empty {
  font-size: 1.5rem;
  text-align: center;
}

.loading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 170px;
  gap: 0.5rem;
}

.card {
  background-color: #2c2c2c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.card:hover {
  background-color: #3b3b3b;
}

.title {
  font-size: 1.25rem;
}

.content {
  margin-bottom: auto;
}

.date {
  font-size: 0.75rem;
}

/* Animation Start */
.box {
  position: relative;
  width: 20px;
  height: 20px;
  animation: spinner 2s linear infinite;
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.dot:nth-child(1) {
  top: 0;
  left: 0;
}

.dot:nth-child(2) {
  top: 0;
  right: 0;
}

.dot:nth-child(3) {
  bottom: 0;
  left: 0;
}

.dot:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Animation End */
