.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.paragraph {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.25;
  hyphens: auto;
  max-width: 75ch;
  margin: 0 auto 1rem;
}

.error {
  color: red;
  font-size: 1.75rem;
  text-align: center;
}

.empty {
  font-size: 1.5rem;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 200px;
  gap: 0.5rem;
}

.card {
  background-color: #2c2c2c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  /* Style because it's a button in a li */
  width: 100%;
  height: 100%;
  color: inherit;
  text-align: left;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.card:hover {
  background-color: #3b3b3b;
}

.title {
  font-size: 1.25rem;
}

.content {
  margin-bottom: auto;
}

.date {
  font-size: 0.75rem;
}
