.main-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* To push it down if the height isn't filled */
.main {
  margin-bottom: auto;
}

.main-footer {
  background-color: #383838;
}

.footer {
  display: flex;
  justify-content: center;
}

.github {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;
}

.github:hover {
  border-bottom-color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
}

.navigation {
  background-color: #292929;
}

.nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  font-size: 1.25rem;
}

.nav-link {
  color: #00ffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 100ms ease-in-out;
}

.nav-link:hover {
  border-bottom-color: cyan;
}

.home {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .nav {
    gap: 1rem;
  }
}
